@import "variables";

.footer {
    background: #000000;
    padding-top: 45px;
    padding-bottom: 35px;

    &__row {
        display: flex;
        gap: 15px;
        margin-bottom: 35px;
        @media (max-width: $middle-media) {
            flex-wrap: wrap;
        }
        @media (max-width: $tablet-media) {
            justify-content: space-between;
            gap: 0;
        }
    }

    &__column {
        @media (max-width: $middle-media) {
            margin-bottom: 35px;
        }
        @media (max-width: $tablet-media) {
            margin-bottom: 25px;
        }
        @media (max-width: $mobile-media) {
            margin-bottom: 18px;
        }
        .footer__list {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (max-width: $tablet-media) {
                gap: 22px;
            }

            @media (max-width: $mobile-media) {
                gap: 18px;
            }

            &-item {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $color-white;
                @include adaptiv-font(16, 10);
                @include adaptiv-line-height(20, 12);
            }

            &-item-link {
                color: $color-white;
            }

            .underline{
                text-decoration: underline;
            }
        }
    }

    &__column:first-child {
        flex: 0 1 33.333%;
        @media (max-width: $tablet-media) {
            flex: 0 1 48.5%;
        }
    }

    &__column:nth-child(2) {
        flex: 0 1 33.333%;
        @media (max-width: $tablet-media) {
            flex: 0 1 48.5%;
        }
    }

    &__column:last-child {
        flex: 0 1 33%;
        @media (max-width: $middle-media) {
            flex: 0 1 100%;
        }
        .footer__list{
            @media (max-width: $middle-media) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;
            }
            @media (max-width: $tablet-media) {
                gap: 0;
                justify-content: space-between;
            }
            &-item{
                @media (max-width: $middle-media) {
                    flex: 0 1 33.333%;
                }
                @media (max-width: $tablet-media) {
                    flex: 0 1 48.5%;

                }
            }
            @media (max-width: $tablet-media) {
                &-item:first-child{
                    margin-bottom: 18px;
                }
                &-item:nth-child(2){
                    margin-bottom: 18px;
                }
            }

        }


        .footer__list-item:last-child{
            display: flex;
            gap: 20px;
            @media (max-width: $tablet-media) {
                gap: 14px;
            }
            @media (max-width: $tablet-media) {
                gap: 8px;
            }
        }
    }

    &__icon{
        &-vk{
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../../public/images/vk.svg");
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: $tablet-media) {
                width: 22px;
                height: 22px;
            }
            @media (max-width: $mobile-media) {
                width: 17px;
                height: 17px;
            }
        }
        &-mail{
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../../../public/images/mail.svg");
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: $tablet-media) {
                width: 22px;
                height: 22px;
            }
            @media (max-width: $mobile-media) {
                width: 17px;
                height: 17px;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        @media (max-width: $middle-media) {
            gap: 15px;
        }
        @media (max-width: $tablet-media) {
            gap: 0;
            justify-content: space-between;
        }
        &-policy {
            flex: 0 1 calc(66.666% + 15px);
            @media (max-width: $middle-media) {
                flex: 0 1 33.333%;
            }
            @media (max-width: $tablet-media) {
                flex: 0 1 48.5%;
            }
        }

        &-developer {
            @media (max-width: $middle-media) {
                flex: 0 1 33.333%;
            }
            @media (max-width: $tablet-media) {
                flex: 0 1 48.5%;
            }
        }
        a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #B9B9B9;
            @include adaptiv-font(12, 8);
            @include adaptiv-line-height(15, 10);
        }
    }

}
