@import "variables";

.header{
    position: fixed;
    width: 100%;
    z-index: 5;
    margin-bottom: 75px;
    background: #100E0C;
    @media (max-width: $tablet-media) {
        margin-bottom: 30px;
    }
    &__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        @media (max-width: $tablet-media) {
            padding: 10px 0;
        }
    }
    &__logo{
        flex: 0 1 33.333%;
        img{
            width: 172px;
            height: 47px;
        }
    }
    //&__nav:after{
    //    @media (max-width: $tablet-media) {
    //        content: 'asdasd';
    //        background-color: #ffffff;
    //    }
    //}
    &__nav{
        margin-top: 11px;
        flex: 0 1 66.667%;
        @media (max-width: $tablet-media) {
            flex: auto;
            display: flex;
            justify-content: flex-end;
            margin-top: 6px;
        }
        &-list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $tablet-media) {
                display: none;
            }
            li{
                a{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: $color-white;
                }
            }
            li:hover{
                a{
                    font-weight: 1000;
                }
            }
            .active{
                font-weight: 1000;
            }
        }

        &-mobile-nav{
            display: none;
            @media (max-width: $tablet-media) {
                padding: 5px;
                width: 29px;
                display: flex;
                flex-direction: column;
                .header__nav-mobile-line{
                    height: 1px;
                    background-color: $mobile-border-color;
                    //border-bottom: 1px solid $mobile-border-color;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
