@import "variables";
@import "project-item";
@import "tabs";

.project {
    &-title {
        margin-bottom: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        @include adaptiv-font(40, 25);
        @include adaptiv-line-height(49, 30);
        @media (max-width: $tablet-media) {
            margin-bottom: 20px;
        }
    }
}
.apartment__swiper{
    margin-bottom: 30px;
    @media (max-width: $tablet-media) {
        margin-bottom: 20px;
    }
}

.tabs {
    &__item{
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $color-white;
        padding: 5px 0 7px 0;
        a{
            color: $color-white;
        }
        @media (min-width: $middle-media) {
            border-bottom: 1px solid #403432;
        }
    }

    .active{
        @media (min-width: $middle-media) {
            border-bottom: 1px solid #403432;
        }
    }
}

.project-preview {
    .container {
        display: flex;
        flex-direction: column;
    }
    .row:first-child{
        margin-bottom: 40px;
        @media (max-width: $tablet-media) {
            margin-bottom: 30px;
        }
    }
    &__title {
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        border-bottom: 1px solid #403432;
        margin-bottom: 20px;
        @include adaptiv-font(100, 30);
        @include adaptiv-line-height(122, 37);
        @media (max-width: $tablet-media) {
            margin-bottom: 15px;
        }
    }

    &__container {
        width: 100%;
        height: 642px;
        @media (max-width: $desktop-media) {
            height: calc((100vw - 120px) / 1.8);
        }
        @media (max-width: $tablet-media) {
            height: calc((100vw - 40px) / 1.8);
        }
        @media (max-width: 370px) {
            height: 160px;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: $tablet-media) {
            margin-bottom: 15px;
        }
        &-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            color: $color-white;
            margin-right: 17px;

            @include adaptiv-font(16, 14);
            @include adaptiv-line-height(20, 17);
        }

        &-prev {
            margin-right: 26px;
            @media (max-width: $tablet-media) {
                margin-right: 35px;
                svg{
                    width: 7px;
                    height: 11px;
                }
            }
            @media (max-width: $mobile-media) {
                svg{
                    width: 5px;
                    height: 8px;
                }
            }
        }

        &-next {
            @media (max-width: $tablet-media) {
                svg{
                    width: 7px;
                    height: 11px;
                }
            }
            @media (max-width: $mobile-media) {
                svg{
                    width: 5px;
                    height: 8px;
                }
            }
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-white;
        @include adaptiv-font(16, 12);
        @include adaptiv-line-height(20, 15);
    }
}

.project-wrapper{
    margin-bottom: 120px;
    @media (max-width: $middle-media) {
        margin-bottom: 90px;
    }
    @media (max-width: $tablet-media) {
        margin-bottom: 50px;
    }
    div:last-child{
        margin-bottom: 0;
    }
}

.project-widget1 {
    margin-bottom: 30px;
    @media (max-width: $tablet-media) {
        margin-bottom: 15px;
    }
    &-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        margin-bottom: 40px;
        text-transform: uppercase;
        @include adaptiv-font(40, 25);
        @include adaptiv-line-height(49, 30);
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    &-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-white;
        margin-top: 40px;
        @include adaptiv-font(16, 12);
        @include adaptiv-line-height(20, 15);
        @media (max-width: $middle-media) {
            margin-top: 20px;
        }
    }
    &__container {
        display: flex;
        width: 100%;
        height: 650px;
        @media (max-width: $desktop-media) {
            height: calc((100vw - 120px) / 1.78);
        }
        @media (max-width: $tablet-media) {
            height: calc((100vw - 40px) / 1.78);
        }
        @media (max-width: 370px) {
            height: 160px;
        }
        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.project-widget2 {
    margin-bottom: 30px;
    @media (max-width: $tablet-media) {
        margin-bottom: 15px;
    }
    &__container {
        display: flex;
        gap: 30px;
        height: 431px;
        @media (max-width: $desktop-media) {
            height: calc((100vw - 120px) / 1.78);
        }
        @media (max-width: $tablet-media) {
            height: calc((100vw - 40px) / 1.78);
            gap: 10px;
        }
        @media (max-width: 370px) {
            height: 176px;
        }
        &-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-item{
        height: 100%;
    }
    &-item:first-child{
        flex: 0 1 33.333%;
        @media (max-width: $middle-media) {
            flex: 0 1 50%;
        }
    }
    &-item:last-child{
        flex: 0 1 66.666%;
        @media (max-width: $middle-media) {
            flex: 0 1 50%;
        }
    }

    &-text{
        margin-top: 40px;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        @media (max-width: $middle-media) {
            margin-top: 20px;
        }
        @include adaptiv-font(16, 12);
        @include adaptiv-line-height(20, 15);
    }
}

.project-widget3 {
    margin-bottom: 30px;
    @media (max-width: $middle-media) {
        margin-bottom: 20px;
    }
    .row {
        display: flex;
        flex-direction: column;
        //gap: 30px;
    }
    &-container{
        display: flex;
        gap: 30px;
        height: 715px;
        @media (max-width: $desktop-media) {
            height: calc((100vw - 120px) / 1.63);
        }
        @media (max-width: $tablet-media) {
            gap: 10px;
            height: calc((100vw - 40px) / 1.63);
        }
        @media (max-width: 370px) {
            height: 176px;
        }
    }
    &__column {
        flex: 0 1 50%;
        //max-height: 715px;
        height: 100%;
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-text{
        margin-top: 40px;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        @media (max-width: $middle-media) {
            margin-top: 20px;
        }
        @include adaptiv-font(16, 12);
        @include adaptiv-line-height(20, 15);
    }
}

.project-widget4 {
    margin-top: 50px;
    margin-bottom: 40px;
    @media (max-width: $middle-media) {
        margin-bottom: 20px;
    }
    &-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        text-transform: uppercase;
        @include adaptiv-font(40, 25);
        @include adaptiv-line-height(49, 30);
    }
}

.project-widget5 {
    margin-bottom: 30px;
    @media (max-width: $middle-media) {
        margin-bottom: 20px;
    }
    .row{
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: $tablet-media) {
            gap: 20px;
        }
    }
    &__container {
        width: 100%;
        height: 1000px;
        @media (max-width: $desktop-media) {
            height: calc((100vw - 120px) / 1.16);
        }
        @media (max-width: $tablet-media) {
            height: calc((100vw - 40px) / 1.16);
        }
        //@media (max-width: 370px) {
        //    height: 280px;
        //}
        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: $color-white;
        margin-bottom: 10px;
        margin-top: 40px;
        @media (max-width: $middle-media) {
            margin-top: 20px;
        }
        @include adaptiv-font(16, 12);
        @include adaptiv-line-height(20, 15);
    }
}
