@import "variables";

.tabs {
    margin-top: 137px;
    margin-bottom: 60px;
    @media (max-width: $middle-media) {
        margin-top: 112px;
        margin-bottom: 30px;
    }
    @media (max-width: $tablet-media) {
        margin-top: 92px;
        margin-bottom: 20px;
    }
    @media (max-width: $mobile-media) {
        margin-bottom: 15px;
    }
    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__item{
        font-family: 'Montserrat';
        font-style: normal;
        color: $color-white;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.6;
        a{
            color: $color-white;
        }
    }

    .active{
        opacity: 1;
    }
    &__item:hover{
        cursor: pointer;
    }
}
